.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 80px;
  right: 0;
  z-index: 5;

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  .cart-items::-webkit-scrollbar {
    --webkit-appearance:none;
    width: 6px;
    background-color: white;
    height: auto;
  }
  .cart-items::-webkit-scrollbar-thumb{
    background-color: rgb(232, 232, 232);
    border-radius: 10em;
  }
  .cart-items:hover::-webkit-scrollbar-thumb{
    background-color: rgb(205, 205, 205);
  }

  button {
    margin-top: auto;
  }
}
