:root {
  --web-section-title: "Syne", sans-serif;
  --web-section-text: "Barlow", sans-serif;
}

body {
  padding: 20px 80px;
}

a
{
  text-decoration: none;
  color: black;
  font-family: var(--web-section-text);
}
