body {
  margin: 0;
  font-family: "Syne", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Syne", sans-serif;
}

p,
a,
span,
label,
input,
button {
  font-family: var(--web-section-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--web-section-title);
}
